.featuredRooms {
  padding: 4rem 0 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.featuredRooms h2 {
  color: var(--saltwater);
  margin-bottom: 4rem;
}

.featuredRooms .container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
}

@media (max-width: 767px) {
  .featuredRooms .container {
    flex-flow: column;
  }
}