/* Single Room */
.single-room {
  padding: 2rem 0;
}
.single-room-images {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.single-room img {
  display: flex;
  object-fit: cover;
  width: 100%;
}