.description-wrap {
  justify-content: center;
  display: flex;
  margin-bottom: 4rem;
}

.description {
  max-width: 700px;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4rem 8rem;
  box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.15);
  margin-top: -2rem;
  background: white;
}

.description:before {
  content: '';
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  border: 2px solid var(--water);
}

.description h3 {
  text-align: center;
}

.description h5 {
  text-align: center;
  margin-bottom: 2rem;
}

.description p {
  margin-bottom: 2rem;
  color: #adadad;
}

@media only screen and (max-width: 767px) {
  .description {
    padding: 4rem;
  }
}

@media only screen and (max-width: 575) {
  .description {
    padding: 2rem;
  }
}