.footer {
  padding: 8rem 0;
  background: whitesmoke;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
}

.footer-list h5 {
  color: var(--saltwater);
  text-transform: uppercase;
}

.footer-list li {
  color: grey;
}

.footer-list li strong {
  color: var(--water);
}

@media (max-width: 767px) {
  .footer .container {
    flex-flow: column;
  }
}